/* .app-container {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  position: relative;
  padding-top: 70px;
  background-color: rgba(30,33,40,1);
} */

/* form {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
  text-align: right;
} */

html {
  background-color: rgb(30, 33, 40);
  /* background-color: rgb(45, 45, 45); */
}

.current {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}



.square {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.old-lace {
  background-color: rgb(30,33,40);
}

.black {
  background-color: black;
}


.checker {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin: 5px;
  cursor: pointer;
  transition: all 1000ms linear;
  opacity: 0.85;
  /* transform: translate3d(50px, 50px, 0px); */
}

.selected .checker {
  margin-top: 2px;
  margin-left: 2px;
}

.square-piece {
  border-radius: 2px;
}

.oval-piece {
  width: 70px;
  margin-left: 15px;
}

.selected .oval-piece {
  margin-left: 11px !important;
}

.player-two {
  background-color: red;
}


.player-one {
  /* black on black is not a good look for checkers so i went with white */
  background-color: white;

}

.player-two.blue {
  background-color: lightblue;
}

.player-one.blue {
  background-color: lightpink;
}


.player-two.green {
  background-color: lightgreen;
}

.player-one.green {
  background-color: lightgoldenrodyellow;
}

.suggested {
  border: solid 2px lightskyblue;
  width: 96px;
  height: 96px;
  cursor: pointer;
}

.selected {
  border: solid 3px yellow;
  width: 94px;
  height: 94px;
}


.player-one.king,
.player-two.king {
  box-shadow: inset
    /* The top layer shadow */
    0 -1px 1px rgba(0, 0, 0, 0.55),
    /* The second layer */
    0 -10px 0 -5px rgb(255, 251, 0),
    /* The second layer shadow */
    0 -10px 1px -3px rgba(0, 0, 0, 0.15),
    /* The third layer */
    0 -20px 0 -10px rgb(255, 217, 0),
    /* The third layer shadow */
    0 -20px 1px -8px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
}